a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #aaaaaa;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
